$primary: #51cc8e !default;
$secondary: #1d8cf8 !default;
$danger: #ff5252 !default;

$darkblue: #344675 !default;
$purple: #6962b6 !default;
$orange: #ff9a02 !default;
$yellow: #ffc107 !default;

$lightRed: #fa8181 !default;
$lightYellow: #ffe188 !default;
$lightGreen: #80d6ab !default;
$lightBlue: #5ca9f5 !default;
$lightPurple: #918cc7 !default;

$white: #ffffff !default;
$black: #000000 !default;
$dark: #2f4858 !default;

$light-background: #f0f0f0;
$light-foreground: #ffffff;
$light-text: #0c0c0c;
$light-secondaryText: #808080;
$light-borderColor: #e9e9e9;
$light-medium: #808080;
$light-active-button: #e0e0e0;

$dark-background: #0e0e0e;
$dark-foreground: #1f1f1f;
$dark-text: #ffffff;
$dark-secondaryText: #808080;
$dark-borderColor: #333333;
$dark-medium: #999999;
$dark-active-button: #000000;
