.dashboard {
  @include themed() {
    background-color: t("background");
  }
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
  z-index: 0;

  .main-container {
    flex: 1;
    flex-direction: column;
    gap: 0;
    margin-right: 30px;

    .navbar-container-dashboard {
      height: 100px;
      width: 100%;

      .navbar {
        margin-top: 30px;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .stats-container {
          display: flex;
          flex-direction: row;
          border-radius: 15px;
          @include themed() {
            background-color: t("foreground");
          }

          .stat-container {
            position: relative;

            .stat {
              margin-right: 15px;
              margin-left: 15px;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              cursor: pointer;
              text-align: center;

              .stat-text {
                margin-left: 10px;
                font-weight: 800;
              }

              &:hover + .stat-tooltip {
                opacity: 1;
              }
            }

            .stat-tooltip {
              @include themed() {
                background-color: t("foreground");
              }

              position: absolute;
              top: 100%;
              left: -120px;
              margin-top: 30px;
              border-radius: 10px;
              width: 300px;
              z-index: 1;
              box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
              cursor: auto;

              display: flex;
              flex-direction: column;
              align-items: center;

              opacity: 0;
              transition: opacity ease-out 200ms;

              &::before {
                @include themed() {
                  background-color: t("foreground");
                }
                content: "";
                position: absolute;
                margin-top: -10px;
                border-top-left-radius: 4px;
                height: 30px;
                width: 30px;
                transform: rotate(45deg);
                z-index: -1;
              }

              .stat-title {
                line-height: 0;
                margin-top: 35px;
                margin-bottom: 0;
              }

              .stat-description {
                @include themed() {
                  color: t("secondaryText");
                }
                text-align: center;
                font-weight: 500;
                font-size: 15px;
                width: 260px;
              }

              .stat-num-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding-top: 0px;
                margin-bottom: 20px;

                .stat-number {
                  font-weight: 800;
                  font-size: 48px;
                  margin-left: 10px;
                  margin-top: 0px;
                  margin-bottom: 0px;
                }
              }
            }
          }
        }

        .right-container {
          display: flex;
          flex-direction: row;
          align-items: center;

          .nav-item {
            margin-right: 10px;
            margin-left: 10px;
            cursor: pointer;
          }

          .avatar {
            height: 50px;
            width: 50px;
            margin-right: 0px;
          }
        }
      }
    }
    .content-container {
      flex: 1;
      width: 100%;

      .content {
        padding: 20px;
      }
    }
  }
}
