.dashboard {
  @include themed() {
    background-color: t("background");
  }
  min-height: 100vh;
  position: relative;
  z-index: 0;

  @import "./Dashboard/navbar.scss";
  @import "./Dashboard/home.scss";

  .content-container {
    padding-top: 5em;
    width: #{"min(90%, 70rem)"};
    margin-inline: auto;

    .content-split {
      display: flex;
      flex-direction: row;
      gap: 3em;
      align-items: flex-start;

      * {
        width: 100%;
      }

      * + * {
        max-width: 20em;
      }
    }
  }
}
