@import "colors.scss";
@import "themes.scss";
@import "typography.scss";
@import "auth.scss";
@import "dashboard.scss";

body {
  @include themed() {
    background-color: t("background");
  }
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section {
  @include themed() {
    background-color: t("background");
  }

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.outline {
  outline: 1px solid black;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.8;
  @include themed() {
    background-color: t("background");
  }
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  .loader {
    height: 120px;
    width: 120px;
  }
}

.text-primary {
  color: $primary !important;
}

.text-secondary {
  color: $secondary !important;
}

.text-purple {
  color: $purple !important;
}

.text-white {
  color: $white !important;
}

.text-black {
  color: $black !important;
}

.text-foreground {
  @include themed() {
    color: t("foreground") !important;
  }
}

.text-medium {
  @include themed() {
    color: t("secondaryText") !important;
  }
}

.text-background {
  @include themed() {
    color: t("background") !important;
  }
}

.bg-primary {
  background-color: $primary !important;
}

.bg-secondary {
  background-color: $secondary !important;
}

.bg-purple {
  background-color: $purple !important;
}

.bg-white {
  background-color: $white !important;
}

.bg-black {
  background-color: $black !important;
}

.bg-foreground {
  @include themed() {
    background-color: t("foreground") !important;
  }
}

.bg-medium {
  @include themed() {
    background-color: t("secondaryText") !important;
  }
}

.bg-background {
  @include themed() {
    background-color: t("background") !important;
  }
}

@import "./component-styles/card.scss";
@import "./component-styles/theme-switch.scss";
@import "./component-styles/button.scss";
@import "./component-styles/input.scss";
@import "./component-styles/forms.scss";
