@import "colors.scss";
@import "layout.scss";
@import "themes.scss";
@import "typography.scss";
@import "auth.scss";
@import "landing.scss";
@import "dashboard.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

// .section {
//   @include themed() {
//     background-color: t("background");
//   }

//   position: relative;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   min-height: 100vh;
// }

.border {
  outline: 1px solid black;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.8;
  @include themed() {
    background-color: t("background");
  }
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  .loader {
    height: 120px;
    width: 120px;
  }
}

.pointer {
  cursor: pointer;
}

.text-primary {
  color: $primary !important;
}

.text-secondary {
  color: $secondary !important;
}

.text-purple {
  color: $purple !important;
}

.text-orange {
  color: $orange !important;
}

.text-white {
  color: $white !important;
}

.text-black {
  color: $black !important;
}

.text-dark {
  color: $dark !important;
}

.text-foreground {
  @include themed() {
    color: t("foreground") !important;
  }
}

.text-medium {
  @include themed() {
    color: t("secondaryText") !important;
  }
}

.text-background {
  @include themed() {
    color: t("background") !important;
  }
}

.bg-primary {
  background-color: $primary !important;
}

.bg-secondary {
  background-color: $secondary !important;
}

.bg-purple {
  background-color: $purple !important;
}

.bg-danger {
  background-color: $danger !important;
}

.bg-light {
  background-color: $light !important;
}

.bg-white {
  background-color: $white !important;
}

.bg-black {
  background-color: $black !important;
}

.bg-dark {
  color: $white !important;
  background-color: $dark !important;
}

.bg-foreground {
  @include themed() {
    background-color: t("foreground") !important;
  }
}

.bg-medium {
  @include themed() {
    background-color: t("secondaryText") !important;
  }
}

.bg-background {
  @include themed() {
    background-color: t("background") !important;
  }
}

.error-container {
  width: 100%;
  text-align: center;
  display: grid;
  place-items: center;
  min-height: 80vh;

  > * {
    max-width: 30em;
  }
}

body {
  overflow-y: overlay;
}

@import "./component-styles/card.scss";
@import "./component-styles/theme-switch.scss";
@import "./component-styles/button.scss";
@import "./component-styles/input.scss";
@import "./component-styles/forms.scss";
@import "./component-styles/badge.scss";
@import "./component-styles/multi-button.scss";
@import "./component-styles/modal.scss";
@import "./component-styles/jobs-list.scss";
@import "./component-styles/scrollbar.scss";
@import "./component-styles/star-ratings.scss";
