header {
  .image-background {
    min-height: 90vh;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;

    img {
      position: absolute;
      object-fit: cover;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      transition: opacity 500ms ease;

      &[data-item="true"] {
        opacity: 1;
      }
      &[data-item="false"] {
        opacity: 0;
      }
    }

    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $dark;
      opacity: 0.3;
    }

    .line-1 {
      z-index: 2;
      display: none;
    }
  }

  .content {
    z-index: 3;
    max-width: 290px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    color: $white;

    .title {
      color: $white;
      margin-bottom: 0.8em;
      line-height: 1.3;
    }

    .subtitle {
      margin-top: 0;
      line-height: 1.3;
      margin-bottom: 0.8em;
      font-size: 1.2em;
      font-weight: 400;
    }

    .button {
      margin-left: 0;
      display: inline-block;
      padding: 20px;
    }
  }

  @media only screen and (min-width: 40em) {
    .image-background {
      .line-1 {
        position: absolute;
        display: block;
        width: 100%;
        height: 100.1%;
      }
    }

    .content {
      color: $dark;
      max-width: 43%;

      .title {
        color: $dark;
      }
    }
  }

  @media only screen and (min-width: 1200px) {
    .content {
      max-width: 500px;
    }
    .image-background {
      img {
        width: 80%;
      }
    }
  }
}
