.section-how-it-works {
  padding-top: 5rem;
  padding-bottom: 10rem;

  .feature-container {
    padding: 1em 0;
    align-items: center;
    justify-content: space-between;

    .feature-content {
      max-width: 300px;
      position: relative;

      @media only screen and (min-width: 40em) {
        max-width: 400px;
      }

      &.feature-content::before {
        content: "";
        height: 40px;
        width: 10px;
        border-radius: 5px;
        position: absolute;
        top: 0;
        left: -20px;
        background-color: $primary;
      }

      &.left::before {
        background-color: $secondary;
      }

      .title {
        font-weight: 700;
        font-size: 32px;
        color: $dark;
        margin-top: 0px;
        margin-bottom: 20px;
      }
      .subtitle {
        margin-top: 0px;
        color: $light-medium;
        font-size: 20px;
        font-weight: 500;
      }
    }
    .lottie-container {
      position: relative;
      margin: 0 0 30px;
      flex-basis: 50%;

      .blob-1 {
        position: absolute;
        top: 10%;
        left: 20%;
        height: 80%;
      }
      .blob-2 {
        position: absolute;
        top: 5%;
        left: 10%;
        height: 80%;
      }
      .blob-3 {
        position: absolute;
        top: 15%;
        left: 10%;
        height: 90%;
        transform: rotate(60deg);
      }
      .feature-lottie {
        height: 300px;
        width: 300px;

        @media only screen and (min-width: 40em) {
          height: 400px;
          width: 400px;
        }
        @media only screen and (min-width: 54em) {
          height: 500px;
          width: 500px;
        }
      }
    }
  }
}
