.listing {
  max-width: 40em;
  margin: 20px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  @include themed() {
    //background-color: t("foreground");
  }

  &.list-modal {
    margin: 0;
  }

  .map {
    width: 100%;
  }

  .content {
    @include themed() {
      background-color: t("foreground");
    }
    .l-header {
      padding: 20px;
      display: flex;
      flex-direction: row;
      gap: 1em;
      justify-content: space-between;
      margin-bottom: 1em;

      .left {
        flex: 1;
        display: flex;
        gap: 1em;
        align-items: center;

        .logo {
          height: 80px;
          width: 80px;
          border-radius: 50%;
          @include themed() {
            border: 5px solid t("background");
          }
        }
        h2 {
          font-size: 1.4em !important;
          font-weight: 600;
          margin-bottom: 0;
        }
        p {
          @include themed() {
            color: t("secondaryText");
          }
          font-size: 0.9em;
          font-weight: 500;
          margin-bottom: 0;
        }
      }
    }
    .detail {
      display: flex;
      flex-direction: row;
      gap: 0.5em;
      margin-block: 0.5em;

      :first-child {
        color: $secondary;
      }
      p {
        font-weight: 500;
      }
    }

    h3 {
      font-size: 1.1em !important;
      margin-top: 1.5em;
      margin-bottom: 0.5em;
    }
  }
  .l-content {
    padding: 0px 20px 20px 20px;
    //height: 100%;
    //overflow-y: scroll;
  }
}
