.payments-page {
  display: flex;
  flex-direction: row;
  max-width: 60em;
  margin-inline: auto;

  > * {
    flex: 1;
  }
  > * + * {
    margin-left: 3em;
    flex: 2;
  }

  .header {
    h2:first-of-type {
      margin-bottom: 5px;
    }
    .earnings {
      font-size: 2.5em;
      margin-bottom: 1.5em;
    }
    .divider {
      @include themed() {
        border-bottom: 1px solid t("medium");
      }
    }
    .account {
      margin-top: 1em;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1em;

      p {
        margin-bottom: 0;
        line-height: 1.3;
        font-weight: 500;
        font-size: 0.9em;
      }
    }
  }

  .payment {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    &:hover {
      @include themed() {
        background-color: t("background");
      }
    }

    .status {
      width: 6px;
      height: 50px;
      border-radius: 3px;

      &.complete,
      &.succeeded {
        background-color: $primary;
      }

      &.processing {
        background-color: $secondary;
      }

      &.error {
        background-color: $danger;
      }
    }

    h3 {
      margin-bottom: 0;
      font-size: 1.4em;
      font-weight: 600;
    }

    .details {
      p {
        margin-bottom: 0;
        font-size: 0.9em;
        font-weight: 600;
        line-height: 1.4;
      }
      :first-child {
        @include themed() {
          color: t("secondaryText");
        }
        &.processing {
          font-style: italic;
        }
      }
    }
  }
}
