.portfolio {
  display: flex;
  flex-direction: column;
  max-width: 60em;
  margin-inline: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4em;

  @media (min-width: 40em) {
    flex-direction: row;

    > * + * {
      margin-left: 3em;
    }
  }

  > * {
    flex: 1;
  }
  > * + * {
    flex: 2;
  }

  h2 {
    margin-bottom: 1.5em;
  }

  .content {
    > * {
      height: auto;
    }
  }

  .remove-icon {
    @include themed() {
      color: t("medium");
    }
    cursor: pointer;
    transition: transform 250ms ease-in-out;

    &:hover,
    &:active {
      transform: scale(0.8);
    }
  }

  .control-icons {
    position: absolute;
    top: 20px;
    right: 20px;
    @include themed() {
      color: t("medium");
    }

    .control-icon {
      margin-left: 5px;
      transition: transform 150ms ease-in-out;
      cursor: pointer;

      &:hover {
        color: $primary;
        transform: scale(0.8);
      }

      &.active {
        color: $primary;

        &:hover {
          transform: none;
        }
      }
    }
  }

  .controls {
    margin-top: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5em;

    > p {
      font-size: 0.9em;
      font-weight: 600;
      margin-bottom: 0;
      color: $primary;
      cursor: pointer;
      transition: transform 250ms ease-in-out;

      &:hover {
        transform: scale(1.08);
      }
    }
  }

  .header {
    margin-top: 4em;
    padding-top: 6em;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      height: 140px;
      width: 140px;
      position: absolute;
      top: -50px;
      border-radius: 50%;
      @include themed() {
        border: 10px solid t("foreground");
      }
    }

    h2 {
      margin-bottom: 0.2em;
    }
    p {
      @include themed() {
        color: t("secondaryText");
      }
      font-size: 0.9em;
      font-weight: 500;
      margin-bottom: 0;
    }
  }

  .about {
    height: auto;
    p {
      margin-bottom: 0;
      word-wrap: break-word;
    }
  }
  .education {
    height: auto;
    position: relative;
  }
  .education-container,
  .experience-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em;
    border-radius: 10px;
    gap: 1em;
    border-radius: 10px;

    &.edit {
      cursor: pointer;
    }

    &.active {
      user-select: none;

      @include themed() {
        background-color: t("background");
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    .line {
      align-self: flex-start;
      width: 6px;
      height: 2.5em;
      background-color: $primary;
      border-radius: 3px;
      flex-shrink: 1;
      flex-grow: 0;
    }

    h3 {
      font-size: 1em;
      font-weight: 500;
      margin-bottom: 5px;
    }

    p {
      @include themed() {
        color: t("secondaryText");
      }
      font-size: 0.9em;
      font-weight: 500;
      margin-bottom: 0;
    }
    .left {
      flex: 1;
    }
    .right {
      display: flex;
      align-items: center;
      gap: 0.5em;

      .drag {
        @include themed() {
          color: t("secondaryText");
        }
      }
    }
  }

  .date-container {
    display: flex;
    margin-top: 20px;
    > * + * {
      margin-left: 1em;
    }
  }

  .skills {
    .divider {
      @include themed() {
        background-color: t("background");
      }
      width: 100%;
      height: 0.1em;
      margin-top: 1em;
      margin-bottom: 1em;
    }
    .title {
      font-size: 0.9em;
      font-weight: 600;
      margin-bottom: 10px;
    }
    .other-skills {
      visibility: hidden;
      opacity: 0;
      height: 0;
      transition: opacity 300ms ease;
      .skills-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 1em;
        p {
          flex-basis: 30%;
          margin-bottom: 0;
        }
      }
      &.opened {
        visibility: visible;
        opacity: 1;
        height: auto;
      }
    }
    .see-more {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5em;
      text-align: center;
      @include themed() {
        color: t("secondaryText");
      }
      font-size: 0.9em;
      font-weight: 500;
      margin-bottom: 0;
      cursor: pointer;
    }
  }

  .skills-droppable {
    border-radius: 10px;
    position: relative;

    > * {
      padding: 10px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
      @include themed() {
        background-color: t("foreground");
      }
    }

    &.disabled {
      opacity: 0.6;
      visibility: visible;
    }

    .title {
      font-size: 0.9em;
      font-weight: 600;
      line-height: 0;
    }

    .skill-container {
      border-radius: 10px;
      user-select: none;

      &.active {
        @include themed() {
          background-color: t("background");
        }
      }
      .skill {
        display: flex;
        align-items: center;
        border-radius: 10px;

        > * + * {
          margin-left: 1em;
        }

        p {
          flex-basis: 100%;
          margin-bottom: 0;
        }

        .skill-icon {
          cursor: pointer;
          @include themed() {
            color: t("medium");

            &.active {
              color: $primary;
            }
          }
        }
      }
    }
  }
  .divider {
    @include themed() {
      background-color: t("background");
    }
    width: 100%;
    height: 0.1em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
