.settings {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;

  h2 {
    margin-bottom: 2em;
    font-size: 1.4em !important;
  }

  h3 {
    font-size: 1em;
    margin-top: 2.5em;
  }

  .setting {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.5em 0;
    padding: 0.3em;
    border-radius: 0.8em;

    &.highlight {
      cursor: pointer;
      justify-content: flex-start;
      &:hover {
        @include themed() {
          background-color: t("background");
        }
      }
      > * + * {
        margin-left: 0.8em;
      }
    }

    p {
      font-size: 0.9em;
      font-weight: 500;
      margin-bottom: 0;
    }

    .subtitle {
      font-size: 0.8em;
      @include themed() {
        color: t("medium");
      }
    }
  }
  hr {
    height: 1px;
    @include themed() {
      border: 1px solid rgba(t("medium"), 0.2);
    }
  }
  .advanced-text {
    margin-top: 2em;
    font-size: 0.9em;
    cursor: pointer;
    @include themed() {
      color: t("medium");
    }
  }

  .advanced-options {
    display: none;

    &.opened {
      display: block;
    }
  }
}

.change-password {
  max-width: 20em;
  margin-left: auto;
  margin-right: auto;
  h2 {
    margin-bottom: 1.5em;
  }
}
