.payments-page {
  display: flex;
  flex-direction: row;
  max-width: 40em;
  margin: 0 auto;

  > * {
    flex: 1;
  }
  > * + * {
    margin-left: 3em;
    flex: 2;
  }

  .payment {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 0.5em 6em auto;
    gap: 1em;
    align-items: center;
    cursor: pointer;

    &:hover {
      @include themed() {
        background-color: t("background");
      }
    }

    .status {
      width: 6px;
      height: 50px;
      border-radius: 3px;

      &.complete,
      &.succeeded {
        background-color: $primary;
      }

      &.processing {
        background-color: $secondary;
      }

      &.error {
        background-color: $danger;
      }
    }

    h3 {
      margin-bottom: 0;
      font-size: 1.4em;
      font-weight: 600;
    }

    .details {
      p {
        margin-bottom: 0;
        font-size: 0.9em;
        font-weight: 600;
        line-height: 1.4;
      }
      :first-child {
        @include themed() {
          color: t("secondaryText");
        }
        &.processing {
          font-style: italic;
        }
      }
    }
  }
}
