.post-listing {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4em;

  h1 {
    margin: 0 auto 1.5em;
    text-align: center;
    font-size: 1.6em !important;
  }

  h2 {
    margin-bottom: 1em;
    font-size: 1.3em !important;
  }

  &.payment {
    h2:not(:first-of-type) {
      margin-top: 4em;
    }
  }

  .subtitle {
    font-size: 0.9em;
    @include themed() {
      color: t("medium");
    }
    margin-bottom: 1.5em;
  }

  .title {
    margin-bottom: 0.3em;
  }

  .section {
    margin-bottom: 4em;

    &.nopadding {
      margin-bottom: 0;
    }
  }

  .types-container {
    display: flex;

    > * + * {
      margin-left: 1.5em;
    }
  }

  .location-text {
    display: flex;
    gap: 0.3em;
    align-items: center;
  }

  .location {
    padding: 0.5em;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 1em auto;

    @include themed() {
      border: 1px solid rgba(t("medium"), 0.3);
      transition: border-color 100ms ease-out;

      &:hover:not(.active) {
        border-color: rgba(t("medium"), 0.7);
        .icon {
          color: rgba(t("medium"), 0.7);
        }
      }
    }

    p {
      margin-bottom: 0;
    }

    .icon {
      @include themed() {
        color: rgba(t("medium"), 0.3);
      }
      transition: color 100ms ease-out;
    }

    > * + * {
      margin-left: 0.625em;
    }

    &.active {
      border: 1px solid $primary;
      .icon {
        color: $primary;
      }
    }
  }

  .add-location {
    font-weight: 500;
    font-size: 0.9em;
    text-align: center;
    cursor: pointer;

    @include themed() {
      color: t("medium");
    }
  }

  .nav-controls {
    display: flex;
    justify-content: space-between;

    .button {
      margin: 0;
    }
  }

  .flex-row {
    display: flex;
    align-items: center;
    gap: 2em;

    &.loc > * {
      flex-grow: 1;
    }

    img {
      height: 5em;
      width: 5em;
    }
  }

  .charges {
    .charge {
      display: flex;
      justify-content: space-between;

      > * + * {
        font-weight: 600;
      }
      &.total {
        margin-top: 1em;
        font-size: 1.4em;
        font-weight: 600;

        span {
          font-weight: 400;
          font-size: 0.6em;
        }
      }
      &:last-of-type {
        p {
          margin-bottom: 0;
        }
      }
    }
    &.final {
      margin-top: 1.5em;
      margin-bottom: 0;
    }
  }

  .type-circle {
    height: 5em;
    width: 5em;
    background-color: $secondary;
    color: $white;
    font-weight: 600;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }

  .listing-details {
    .pos {
      font-weight: 600;
      margin-bottom: 0.2em;
    }
    > * + * {
      font-size: 0.9em;
      font-weight: 500;
      margin-bottom: 0.3em;
      @include themed() {
        color: t("medium");
      }
    }
  }

  hr {
    margin: 2em 0;
    height: 1px;
    border: none;
    @include themed() {
      background-color: t("background");
    }
  }
}
