.employer-how {
  .part-time-container {
    align-items: center;
    height: 24em;
  }
  .part-time {
    text-align: left;
    width: 300px;
  }
  .blob-container {
    position: relative;
    height: 100%;
  }
  .part-time-blob {
    position: absolute;
    width: 600px;
    height: 550px;
    top: -25%;
    left: 0px;
    right: 0px;
  }
  .full-time-container {
    margin-top: 20em;
    margin-bottom: 10em;
    align-items: center;
    height: 24em;
  }
  .full-time-text {
    @media only screen and (min-width: 40em) {
      margin-left: 15em;
    }
  }
  .full-time-blob {
    position: absolute;
    width: 550px;
    height: 600px;
    top: -30%;
    left: 0px;
  }
  .full-time {
    text-align: left;
    width: 300px;
  }
  .check-list {
    > * {
      display: flex;
      align-items: center;
      margin-bottom: 1em;
      > * + * {
        color: $dark;
        font-size: 1.2em;
        font-weight: 500;
        margin-left: 1em;
        margin-bottom: 0px;
      }
    }
  }
}
