.employer-reasons {
  .icon {
    text-align: center;
  }
  h1 {
    text-align: center;
    padding-bottom: 100px;
  }
  h2 {
    color: $dark;
  }
  p {
    color: $dark;
    width: 300px;
    text-align: left;
  }
  .text-container-1 {
    width: 400px;
    text-align: left;
  }
  .reason-1 {
    text-align: left;
    padding-top: 30px;
    padding-left: 125px;

    &.reason-1::before {
      content: "";
      height: 120px;
      width: 8px;
      border-radius: 4px;
      position: absolute;
      margin-left: -30px;
      top: -20;
      background-color: $primary;
    }
  }
  .text-container-2 {
    width: 400px;
    text-align: left;
    margin-left: 0px;
    margin-right: auto;
  }
  .reason-2 {
    text-align: left;
    padding-top: 30px;
    padding-left: 65px;

    &.reason-2::before {
      content: "";
      height: 120px;
      width: 8px;
      border-radius: 4px;
      position: absolute;
      top: -20;
      left: 820px;
      background-color: $secondary;
    }
  }
}
