.employer-reasons {
  h2 {
    text-align: center;
    color: $dark;
    margin-bottom: 1em;

    @media (min-width: 37.5em) {
      margin-bottom: 3em;
    }
  }

  .reasons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0em;

    @media (min-width: 37.5em) {
      flex-direction: row;
      gap: 4em;
    }

    > * {
      margin: 0 auto;
      max-width: 24em;
      flex: 1;
    }

    h3,
    p {
      text-align: center;
    }

    p {
      color: $dark;
    }

    .divider {
      height: 0.4em;
      width: 4em;
      border-radius: 0.3em;
      background-color: $primary;
      margin: 0 auto 1em;

      &.secondary {
        background-color: $secondary;
      }
    }

    .icon {
      display: block;
      margin: 0 auto;
      width: 6em;

      @media (min-width: 37.5em) {
        width: 8em;
      }
    }
  }
}
