.logo-carousel {
  .carousel-container {
    margin-bottom: 20px;
    position: relative;
    width: 73em;
    margin-left: auto;
    margin-right: auto;
    height: 7em;
  }
  .carousel-item {
    height: 6em;
    background-color: transparent;
    margin-right: 5em;
    position: absolute;
    transition: transform 500ms ease, opacity 500ms ease;

    $width: 11em;

    &[data-item="1"],
    &[data-item="2"],
    &[data-item="3"] {
      transform: translateX(0) scale(0);
      opacity: 0;
    }
    &[data-item="4"] {
      transform: translateX($width) scale(0.7);
      opacity: 0.2;
    }
    &[data-item="5"] {
      transform: translateX($width * 2);
      opacity: 0.4;
    }
    &[data-item="6"] {
      transform: translateX($width * 3) scale(1.5);
      opacity: 1;
    }
    &[data-item="7"] {
      transform: translateX($width * 4);
      opacity: 0.4;
    }
    &[data-item="8"] {
      transform: translateX($width * 5) scale(0.7);
      opacity: 0.2;
    }
    &[data-item="9"],
    &[data-item="10"],
    &[data-item="11"] {
      transform: translateX($width * 6) scale(0);
      opacity: 0;
    }
  }
  h3 {
    margin-left: auto;
    margin-right: auto;
    line-height: 1.3;
    text-align: center;
    width: 500px;
  }
}
