.logo-carousel {
  .carousel-container {
    margin-bottom: 20px;
    display: flex;
  }
  .carousel-item {
    height: 7em;
    background-color: transparent;
    margin-right: 4em;
    display: block;
    border: none;
    outline: none;
  }
  h3 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 500px;
  }
}
