.employer-problem {
  .left {
    position: relative;
    margin-top: 15px;
    .overcome-icon {
      height: 30px;
      width: 30px;
      position: absolute;
      top: 0;
      left: -45px;
    }
  }
  .reason,
  .reason-2,
  .reason-3 {
    padding-bottom: 15px;
    position: relative;
    h3 {
      margin-left: 1em;
      color: white;
    }
    &:hover {
      .card {
        visibility: visible;
        opacity: 1;
      }
    }
    &::before {
      content: "";
      height: 25px;
      width: 8px;
      border-radius: 4px;
      position: absolute;
      top: 0;
      left: -4px;
      background-color: $primary;
    }
  }
  .card {
    position: absolute;
    z-index: 1;
    top: -20px;
    left: -20px;
    margin-top: 0;
    height: 0;
    padding-bottom: 15px;
    visibility: hidden;
    opacity: 0;
    background-color: white;
    color: $dark;
    transition: opacity, height, 250ms ease-in-out;
    &::before {
      content: "";
      height: 25px;
      width: 8px;
      border-radius: 4px;
      position: absolute;
      top: -20;
      left: 1em;
      background-color: $primary;
    }
    h3,
    p {
      margin-left: 1em;
      color: $dark !important;
    }
    span {
      color: $primary;
    }
  }
  .reason:hover {
    .card {
      height: 175px;
    }
  }
  .reason-2:hover {
    .card {
      height: 200px;
      transform: translateY(-50px);
    }
  }
  .reason-3:hover {
    .card {
      height: 170px;
      transform: translateY(-100px);
    }
  }
}
