.input-container {
  @include themed() {
    background-color: t("background");
  }
  margin-top: 5px;
  margin-bottom: 5px;
  height: 40px;
  min-height: 40px;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;

  input {
    @include themed() {
      background-color: t("background");
      color: t("text");
    }
    border: none;
    outline: none;
    margin-left: 10px;
    margin-right: 10px;
    font-family: "Montserrat";
    font-size: 16px;
    width: 100%;
  }

  .left-icon {
    margin-left: 10px;

    @include themed() {
      color: t("medium");
    }
  }

  .right-icon {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    cursor: pointer;

    @include themed() {
      color: t("medium");
    }
  }
}
