.jobs-container {
  min-width: 100%;
}
.job {
  min-width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  border-radius: 20px;

  .details-container {
    overflow: hidden;
    flex: 1;

    p {
      @include themed() {
        color: t("secondaryText");
      }
      font-size: 0.8em;

      font-weight: 600;
      margin-bottom: 0.5em;
      line-height: 1.1;

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    h3 {
      margin: 0;
      font-size: 1em;
      font-weight: 600;
      margin-bottom: 0.5em;
    }
  }

  .options-child {
    flex-shrink: 1;
    flex-grow: 0;
    align-self: flex-start;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

    .saved {
      margin-right: 0.5em;
      cursor: pointer;
      background-color: transparent;

      &:hover {
        @include themed() {
          background-color: t("background");
        }
      }
    }
  }

  .apply {
    flex: 0;
  }

  .status {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    > * + * {
      margin-left: 0.2em;
    }
    p {
      font-size: 1em;
      font-weight: 500;
      @include themed() {
        color: t("text");
      }
      margin-bottom: 0;
    }
  }

  &:hover {
    @include themed() {
      background-color: rgba(t("background"), 0.3);
    }
  }

  img {
    height: 80px;
    width: 80px;
  }
}
