.modal {
  display: grid;
  position: fixed;
  place-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  overflow-y: scroll;
  //backdrop-filter: blur(4px);
  visibility: hidden;
  opacity: 0;
  transition: opacity 50ms linear;

  .modal-overlay {
    @include themed() {
      background-color: rgba(t("background"), 0.8);
      color: t("text");
    }
    height: 100%;
    width: 100%;
    position: fixed;
  }

  &.visible {
    visibility: visible;
    opacity: 1;
  }

  &.nopadding {
    .card {
      padding: 0;
    }
  }

  &.modal-sm {
    .modal-content {
      max-width: 25em;
    }
  }

  .exit {
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 20px;
    @include themed() {
      color: t("medium");
    }
    cursor: pointer;
  }

  .modal-content {
    z-index: 1;
    max-width: 40em;
    height: auto;
    box-shadow: 0px 0px 10px 10px rgba(black, 0.1);
  }
}
