.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  overflow-y: scroll;
  visibility: hidden;
  opacity: 0;
  transition: opacity 50ms linear;

  .modal-overlay {
    @include themed() {
      background-color: rgba($black, 0.3);
      color: t("text");
    }
    height: 100%;
    width: 100%;
    position: fixed;
  }

  &.visible {
    visibility: visible;
    opacity: 1;
  }

  &.nopadding {
    .card {
      padding: 0;
    }
  }

  &.modal-sm {
    .modal-content {
      max-width: 25em;
    }
  }

  .exit,
  .exit-listing {
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 20px;
    @include themed() {
      color: t("medium");
    }
    cursor: pointer;
  }

  .exit-listing {
    top: 1em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  }

  .modal-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10em;
    z-index: 1;
    max-width: 40em;
    max-height: 40em;
    height: auto;
    box-shadow: 0px 0px 10px 10px rgba(black, 0.1);
    overflow-y: overlay;
  }
}

.error-modal {
  text-align: center;
  z-index: 10001;

  .icon {
    display: inline-block;
  }

  .button {
    margin-bottom: 0;
  }
}

.points-modal {
  .modal-content {
    width: 30em;
    height: 20em;
    display: grid;
    place-items: center;
    position: relative;
  }

  .points-content {
    .text-container {
      text-align: center;
      margin-top: 4em;

      .counter {
        animation: count 200ms linear 0s 9, float 3000ms ease 1800ms infinite;
        -webkit-animation: count 200ms linear 0s 9,
          float 3000ms ease 1800ms infinite;

        @-webkit-keyframes count {
          0% {
            transform: rotate(0);
          }
          25% {
            transform: rotate(-2deg);
          }
          75% {
            transform: rotate(2deg);
          }
          100% {
            transform: rotate(0);
          }
        }
        @keyframes count {
          0% {
            transform: rotate(0);
          }
          25% {
            transform: rotate(-2deg);
          }
          75% {
            transform: rotate(2deg);
          }
          100% {
            transform: rotate(0);
          }
        }
        .count-up {
          font-size: 4em;
          font-weight: 700;
        }
      }

      .details {
        animation: opac 2000ms ease;

        @keyframes opac {
          0%,
          90% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
        @-webkit-keyframes opac {
          0%,
          90% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }

      .subtitle {
        font-size: 1em;
        font-weight: 500;
        margin-bottom: 0.2em;
        @include themed() {
          color: t("medium");
        }
        animation: float 3000ms ease 1800ms infinite;
        -webkit-animation: float 3000ms ease 1800ms infinite;

        &.blue {
          color: $secondary;
        }
      }
      @-webkit-keyframes float {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-1em);
        }
        100% {
          transform: translateY(0);
        }
      }
      @keyframes float {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-1em);
        }
        100% {
          transform: translateY(0);
        }
      }
    }
  }
}
