.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  overflow-y: scroll;
  visibility: hidden;
  opacity: 0;
  transition: opacity 50ms linear;

  .modal-overlay {
    @include themed() {
      background-color: rgba($black, 0.3);
      color: t("text");
    }
    height: 100%;
    width: 100%;
    position: fixed;
  }

  &.visible {
    visibility: visible;
    opacity: 1;
  }

  &.nopadding {
    .card {
      padding: 0;
    }
  }

  &.modal-sm {
    .modal-content {
      max-width: 25em;
    }
  }

  .exit {
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 20px;
    @include themed() {
      color: t("medium");
    }
    cursor: pointer;
  }

  .modal-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10em;
    z-index: 1;
    max-width: 40em;
    max-height: 45em;
    height: auto;
    box-shadow: 0px 0px 10px 10px rgba(black, 0.1);
    overflow-y: overlay;
  }
}
