.multi-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .mbtn {
    @include themed() {
      background-color: t("background");
      color: t("medium");
    }
    flex-basis: 0;
    white-space: pre;
    font-weight: 600;
    text-align: center;
    font-size: 0.9em;
    margin: 0;
    padding: 10px;
    transition: all 200ms ease-in-out;
    cursor: pointer;

    &.first {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }

    &.last {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }

    &.active {
      background-color: $secondary;
      color: $white;
    }

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 4px 10px rgba(black, 0.2);
    }
  }
}
