.switch-container {
  @include themed() {
    background-color: t("background");
  }

  //position: absolute;
  top: 20px;
  right: 20px;
  height: 40px;
  width: 70px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.switch-toggle {
  @include themed() {
    background-color: t("foreground");
  }

  height: 35px;
  width: 35px;
  border-radius: 20px;
  margin-left: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform ease-in-out 150ms;

  &.active {
    transform: translateX(28px);
  }
}
