.recommended-jobs-card {
  display: flex;
  flex-direction: column;
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
      text-decoration: none;
      @include themed() {
        color: t("secondaryText");
      }
      text-align: right;
      margin-bottom: 0;
      font-size: 0.8em;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        filter: brightness(80%);
      }
    }
  }
  .selectors {
    min-width: 100%;

    .filter {
      margin-inline: auto;
    }
  }

  .jobs-container {
    margin-top: 1em;
    min-width: 100%;
    .job {
      min-width: 100%;
      padding: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1em;
      border-radius: 20px;
      cursor: pointer;

      .details-container {
        overflow: hidden;

        p {
          @include themed() {
            color: t("secondaryText");
          }
          font-size: 0.8em;

          font-weight: 600;
          margin-bottom: 0;
          line-height: 1.1;

          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        h3 {
          margin: 0;
          font-size: 1em;
          font-weight: 600;
        }
      }
      .apply {
        flex: 0;
      }

      &:hover {
        @include themed() {
          background-color: t("background");
        }
      }

      img {
        height: 80px;
        width: 80px;
      }
    }
  }
}
