.progress-card {
  .progress-bar {
    margin-block: 0.8em;
  }
  p {
    @include themed() {
      color: t("secondaryText");
    }
    font-size: 0.8em;
    font-weight: 500;
    margin-top: 0.3em;
    margin-bottom: 0;
    line-height: 1.1;
    text-align: right;
  }
  .levels {
    margin-top: 0.8em;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: space-between;
    align-items: center;

    .level-container {
      height: 45px;
      width: 45px;
      @include themed() {
        background-color: t("background");
        color: t("medium");
      }
      border-radius: 8px;
      font-weight: 800;
      font-size: 1.1em;
      display: grid;
      place-items: center;

      &.active {
        color: $white;
        background-color: $secondary;
      }
    }
  }
}
