.recommended-jobs-card {
  display: flex;
  flex-direction: column;
  .header {
    display: flex;
    flex-direction: row;

    a {
      text-decoration: none;
      @include themed() {
        color: t("secondaryText");
      }
      text-align: right;
      margin-bottom: 0;
      font-size: 0.8em;
      font-weight: 600;
    }
  }
  .selectors {
    min-width: 100%;

    .filter {
      margin-inline: auto;
    }
  }
}
