.todays-job-card {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    p {
      @include themed() {
        color: t("secondaryText");
      }
      text-align: right;
      margin-bottom: 0;
      font-size: 0.8em;
      font-weight: 600;
    }
  }
  .job-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    img {
      height: 70px;
      width: 70px;
    }
    .details-container {
      overflow: hidden;
      > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        h3 {
          margin: 0;
          font-size: 1em;
          font-weight: 600;
        }
      }
      .details {
        @include themed() {
          color: t("secondaryText");
        }
        font-size: 0.8em;

        font-weight: 600;
        margin-bottom: 0;
        line-height: 1.1;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
