.section-contact {
  .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .content {
      width: #{"min(20em, 90%)"};
      text-align: center;

      .title {
        margin-bottom: 0.5em;
      }
      .email,
      .email-link {
        font-size: 0.8em;
      }
      .email {
        margin-bottom: 0;
      }
      .email-link {
        color: $primary;
        font-weight: 500;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .google-text {
    font-size: 0.7em;
  }
  .grecaptcha-badge {
    visibility: hidden;
  }
}
