&.legal-page {
  height: 100%;
  min-height: 100vh;

  .container-xs {
    padding-top: 8em;
    padding-bottom: 4em;

    h2 {
      text-align: center;
      line-height: 1.4;
    }

    h3 {
      margin-top: 1em;
    }

    p,
    li {
      font-size: 0.9em;
      margin-bottom: 1em;
    }
  }
}
