&.resources {
  min-height: 100vh;
  background-color: $light-background;

  .container-sm {
    padding-top: 8em;

    .resources-map {
      //width: 100%;
      height: 30em;
      margin: 3em 0 2em;
    }
  }
}
